// Used Controls:["scheduler"]
$base-theme:Bootstrap;
$skin-name:sheduler;
$swatch-name:Nordic;
$border-radius: 5rem;
$accent: #e7607b;
$secondary: #d6e5e9;
$info: #01a8c1;
$success: #90bf4f;
$warning: #ffc857;
$error: #d31038;
$body-bg: #ffffff;
$body-color: #50686e;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #ffffff;
$card-cap-color: #292b2c;
$series-a: #e7607b;
$series-b: #6bd2e2;
$series-c: #ddc981;
$series-d: #bb334f;
$series-e: #01a8c1;
$series-f: #c09e2f;
