.demo-app {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.demo-app-top {
    margin: 0 0 3em;
}

.demo-app-calendar {
    margin: 0 auto;
    max-width: 900px;
}
.fc-dayGridMonth-view thead tr {
    background-color: #04AECF;
    color: white;
}
.fc-col-header {
    margin: 0;
}
.fc-col-header-cell {
    border-bottom-width: 0px !important;
}
a.fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;
}
a.fc-col-header-cell-cushion:hover {
    color: white;
    text-decoration: none;
}